.page1node1{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 190px;
    height: 100px;
    width: 100px;
}

.page1botnode1{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 190px;
    height: 100px;
    width: 100px;
}

.page1node1hub{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 190px;
    height: 40px;
    width: 40px;
}

.page1sendframe{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 10px;
    width: 250px;
    height: 30px;
}

.page1sendframe1{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.page1display{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    height: 30px;
    width: 90px;
}


.connectingwire{
    background-color: green;
}

.body{
    line-height: 1.39;
    background-color: rgb(138, 203, 233);
}


.status{
    border-radius: 5px;
    border-color: red;
    background-color: lightpink;
    width: 100px;
    height: 35px;
    border-color: red;
    border-radius: 5px;
    padding: 5px;
}


.user{
    border-radius: 4px;
    background-color: rgb(81, 81, 174);
    height: 100%;
    width: 100%;
    padding: 4px;
    justify-content: space-between;
}

.userbuto1{
    width: 140px;
    height: 50px;
    border-color:white;
    background-color: rgb(240, 240, 31);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}


.container{
    display: flex;
    flex-direction: row;
}

.btn-btn-lg-btn-danger{
    font-size-adjust: 12;
    height: 2px;
    width: 20px;
}

.container1{
    display: flex;
    flex-direction: row;
    align-content:space-evenly;
}

.userbuto2{
    width: 140px;
    height: 50px;
    border-color:rgb(82, 4, 251);
    border-width: 3px;
    background-color: rgb(240, 240, 31);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.userbuto3{
    width: 70px;
    height: 386spx;
    border-color:white;
    background-color: rgb(240, 234, 39);
    /* margin: 2px; */
    /* padding: 2px; */
    border-color: rgb(93, 93, 167);
    border-width: 5px;
    border-radius: 4px;
}

.displaybox{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 10px;
    height: 200px;
    width: 300px;
}


.displaybox1{
    background-color: rgb(234, 234, 146);
    border-color: rgb(234, 234, 146);
    border-radius: 10px;
    height: 200px;
    width: 380px;
    margin: 10px;
    text-size-adjust: 40 rem;
}

.circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-color: rgb(18, 102, 28);
  }

.circle1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-color: rgb(18, 102, 28);
  }

.circle2 {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px solid;
    border-color: rgb(18, 102, 28);
  }